.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  opacity: 0.6;
  color: black;
  background-image: url("./images/flowers.webp");
  background-repeat: no-repeat;
  text-align: right;
  padding: 4rem;
  background-size:50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
