/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/playfair-display-v30-latin/playfair-display-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/playfair-display-v30-latin/playfair-display-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/playfair-display-v30-latin/playfair-display-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/playfair-display-v30-latin/playfair-display-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/playfair-display-v30-latin/playfair-display-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/playfair-display-v30-latin/playfair-display-v30-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,p{
  font-family: 'Playfair Display';
}

.img {
  opacity: 100%;

}

#shelter-div {
  height: 500px;
  background-color: rgba(212, 142, 208, 0.459);
  margin-left: -7%;
  margin-right:-7%;

}
#shelter {
  background-image: url("./images/shelter.png");
  background-size:90%;
  background-repeat: no-repeat;
  background-position: 4rem;
}

#storyboard-div {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.089);
  margin-left: -7%;
  margin-right:-7%;

}
#storyboards {
  background-image: url("./images/storyboards.png");
  background-size:90%;
  background-repeat: no-repeat;
  background-position: 4rem;
}

#charity-div {
  height: 500px;
  background-color: rgba(212, 142, 208, 0.459);
  margin-left: -7%;
  margin-right:-7%;

}
#charity {
  background-image: url("./images/charity.png");
  background-size:90%;
  background-repeat: no-repeat;
  background-position: 4rem;
}

#yhangry-div {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.089);
  margin-left: -7%;
  margin-right:-7%;

}
#yhangry {
  background-image: url("./images/yhangry.png");
  background-size:90%;
  background-repeat: no-repeat;
  background-position: 4rem;
}